.wrapper {
  width: 100%;
  max-width: 450px;
  padding: 0 30px;
  margin: 0 auto;
}

.button {
  margin: 62px auto 0;
}

.subButton {
  margin-top: 9px;
  display: flex;
  align-items: center;
}

.colCenter {
  display: flex;
  justify-content: center;
}
